* {
    margin: 0;
    padding: 0;
}

html,
body {
    height: 100%;
    background-color: #e5e5e6;
}

.wrapper {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.container_project,
.container_project_auth {
    flex: 1 0 auto;
}

.footer {
    flex: 0 0 auto;
}

.container_project .nickname_row {
    padding: 20px;
}

.container_project .nickname {
    float: right;
}

#footer > .container {
    padding: 15px;
    text-align: center;
}

.title_h4 {
    margin: 20px 0px 20px 0px;
    color: green;
}

.title_h5 {
    margin: 20px 0px 20px 0px;
    color: #f56551;
}

.form_error {
    color: red;
}

.label_part {
    float: left;
}

.field_part {
    float: right;
}

.cursor {
    cursor: pointer;
}

.empty_row_table {
    text-align: center;
}

.background_row {
    background-color: #E6E6FA;
}

.clear {
    clear: both;
}

.table_details {
    border-spacing: 0;
    width: 100%;
}

.table_details .table_details_head td,
.table_details .table_details_head th {
    background-color: #d8e6eb;
    color: #507B8A;
    font-weight: bold;
}

.table_details th {
    padding: 10px 5px;
    white-space:nowrap;
}

.table_details td {
    padding: 10px 5px;
}

.table_details .table_details_head a {
    color: #507B8A;
}

.table_details .open_wind_edit_brand {
    cursor: pointer;
}

.table_details .hide_icon_recommended_brand {
    display: none;
}

.table_details .edit_success_hide {
    display: none;
}

input[type=checkbox]
{
    -webkit-appearance: checkbox;
}

.white_background_page {
    background-color: #fff;
    padding: 20px 15px 20px 15px;
}

/* Выпадающий список (НАЧАЛО) */

.dropdown {
    width: 290px;
    display: inline-block;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 2px rgb(204, 204, 204);
    transition: all .5s ease;
    position: relative;
    font-size: 14px;
    color: #474747;
    height: 100%;
    text-align: left
}
.dropdown .select {
    cursor: pointer;
    display: block;
    padding: 10px
}
.dropdown .select > i {
    font-size: 13px;
    color: #888;
    cursor: pointer;
    transition: all .3s ease-in-out;
    float: right;
    line-height: 20px
}
.dropdown:hover {
    box-shadow: 0 0 4px rgb(204, 204, 204)
}
.dropdown:active {
    background-color: #f8f8f8
}
.dropdown.active:hover,
.dropdown.active {
    box-shadow: 0 0 4px rgb(204, 204, 204);
    border-radius: 5px 5px 0 0;
    background-color: #f8f8f8
}
.dropdown.active .select > i {
    transform: rotate(-90deg)
}
.dropdown .dropdown-menu {
    position: absolute;
    background-color: #fff;
    width: 100%;
    left: 0;
    margin-top: 1px;
    box-shadow: 0 1px 2px rgb(204, 204, 204);
    border-radius: 0 1px 5px 5px;
    overflow: hidden;
    display: none;
    max-height: 144px;
    overflow-y: auto;
    z-index: 9
}
.dropdown .dropdown-menu li {
    padding: 10px;
    transition: all .2s ease-in-out;
    cursor: pointer
}
.dropdown .dropdown-menu {
    padding: 0;
    list-style: none
}
.dropdown .dropdown-menu li:hover {
    background-color: #f2f2f2
}
.dropdown .dropdown-menu li:active {
    background-color: #e2e2e2
}

/* Выпадающий список (КОНЕЦ) */

/* Стили для меню (НАЧАЛО) */

.top_menu {
    overflow: auto;
    border-bottom: 1px solid black;
    background-color: #496bb2;
}

.nav_top_menu {
    float: left;
}

.top_menu_links {
    background-color: #496bb2;
    border-color: black;
    margin-bottom: 0px;
    height: 50px;
}

.top_menu_links > li {
    float: left;
    line-height: 50px;
    padding: 0px 0px 0px 20px;
    list-style-type: none;
}

.top_menu_links > li > a {
    color: #fff;
    font-size: 16px;
}

.top_menu_links > li > a:hover,
.top_menu_links > li > a:focus {
    color: black;
}

.top_menu_links > .active > a,
.top_menu_links > .active > a:hover,
.top_menu_links > .active > a:focus {
    color: #fff;
    text-decoration: underline;
    background-color: #6088b5;
    height: 51px;
    display: block;
}

.body_search_form_top {
    float: right;
    width: 240px;
}

.body_search_form_top #search_form_top {
    margin: 8px 15px;
}

#search_form_top input {
    border: 1px solid black;
}

#search_form_top button {
    border: 1px solid black;
    background-color: #5cb85c;
    border-color: #4cae4c;
    color: #fff;
}

.cart-btn {
    cursor: pointer;
    padding-right: 10px;
    float: right;
    position: relative;
}

.cart-btn img {
    width: 50px;
    height: 50px;
}

/* Стили для меню (КОНЕЦ) */

/* Стили для формы поиска деталей (НАЧАЛО) */

#search_detail_form {
    max-width: 250px;
    padding-top: 45px;
    margin: 0 auto;
}

#search_detail_form #search_detail {
    background-color: #5cb85c;
    border-color: #4cae4c;
    color: #fff;
}

#search_detail_form #article_detail {
    width: 100%;
}

#search_detail_form .form_field_body {
    margin-bottom: 10px;
    width: 100%;
}

#search_detail_form .form_field_body label {
    font-size: 18px;
}

#search_detail_form .form_field_body input {
    border: 1px solid black;
}

#search_detail_form .form_field_body button {
    border: 1px solid black;
}
/* Стили для формы поиска деталей (КОНЕЦ) */

/* Стили для страницы со списком найденных брендов (НАЧАЛО) */

.control_panel_list_brands {
    padding:  10px 30px;
    width: 100%;
}

.control_panel_list_brands .body_control_panel_buttons {
    float: left;
}

.control_panel_list_brands .control_panel_buttons li {
    display: inline;
    margin-right: 13px;
}

.control_panel_list_brands .control_panel_buttons li a {
    text-decoration: none;
}

.control_panel_list_brands .control_panel_buttons li:last-child {
    margin-right: 5px;
}

.control_panel_list_brands .control_panel_buttons li img {
    width: 40px;
    height: 40px;
}

.control_panel_list_brands .control_panel_buttons li .img_loader {
    display: none;
}

.table_list_brands {
    margin: 0 auto;
    margin-top: 15px;
}

.table_list_brands td {
    font-size: 16px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.table_list_brands td a,
.table_list_brands td a:visited,
.table_list_brands td a:active {
    color: black;
}

/* Стили для страницы со списком найденных брендов (КОНЕЦ) */

/* Стили для страницы найденных деталей (НАЧАЛО) */

.control_panel_list_details {
    padding:  10px 30px;
    display: flex;
}

.control_panel_list_details .body_control_panel_buttons {
    width: 365px;
}

.control_panel_list_details .control_panel_buttons li {
    list-style-type: none;
    margin-right: 13px;
    float: left;
}

.control_panel_list_details .control_panel_buttons .active {
    border-bottom: 1px solid black;
}

.control_panel_list_details .control_panel_buttons li a {
    text-decoration: none;
}

.control_panel_list_details .control_panel_buttons li:last-child {
    margin-right: 5px;
}

.control_panel_list_details .control_panel_buttons li img {
    width: 40px;
    height: 40px;
}

.control_panel_list_details .control_panel_buttons li .img_loader {
    display: none;
}

.div_filter_and_list_details {
    overflow: auto;
    margin-top: 20px;
}

.div_left_filter {
    float: left;
    width: 15%;
    padding-left: 10px;
    padding-right: 10px;
}

.div_left_filter .list_brands_for_filter {
    font-size: 11px;
    height: 400px;
    overflow: hidden;
    padding: 0px 5px;
}

.div_left_filter .filter_by_brand {
    width: 100%;
    border: 1px solid #e4e4e4;
}

.div_left_filter .filter_by_brand input {
    margin-right: 5px;
}

.div_left_filter .title_filter_by_brand {
    background-color: #d8e6eb;
    color: #000;
    text-align: center;
    padding: 5px 0px;
    color: #507B8A;
    font-weight: bold;
}

.filter_by_brand .row_brand {
    clear: both;
    height: 21px;
}

.filter_by_brand .row_brand .brand_name {
    height: 21px;
    line-height: 21px;
    white-space: nowrap;
}

.filter_by_brand .more_brands {
    text-align: center;
    border-top: 1px solid #e4e4e4;
    padding: 5px 0px;
    cursor: pointer;
    color: #337ab7;
}

.div_left_filter .filter_by_brand .img_home {
    width: 16px;
}

.div_top_filter {
    margin-bottom: 20px;
}

.div_top_filter .filter_body {
    display: flex;
    margin-bottom: 30px;
}

.div_top_filter .old_url {
    display: none;
}

.div_top_filter .body_filter_by_price {
    padding: 10px;
    width: 40%;
}

.div_top_filter .body_filter_by_price .title {
    margin-bottom: 10px;
}

.div_top_filter .body_filter_by_price .selected_range_price {
    margin-bottom: 10px;
}

.div_top_filter .filter_by_price {
    height: 8px;
}

.div_top_filter .ui-slider-handle {
    height: 16px !important;
}

.div_top_filter .body_filter_by_delivery_period {
    padding: 10px 10px 10px 35px;
    width: 30%;
}

.body_filter_by_delivery_period .not_active {
    color: red;
}

.body_filter_by_delivery_period .row_filter_by_delivery_period {
    display: flex;
}

.body_filter_by_delivery_period .row_filter_by_delivery_period input {
    margin-right: 5px;
}

.body_filter_by_delivery_period .row_filter_by_delivery_period div {
    min-width: 80px;
}

.div_top_filter .body_filter_by_delivery_period .title {
    margin-bottom: 10px;
}

.body_top_btn_sort_list_details {
    margin-left: 20px;
    margin-top: 10px;
}

.body_top_btn_sort_list_details .title {
    margin-bottom: 10px;
}

.body_top_btn_sort_list_details .btn_sort_by_retail_price {
    padding: 7px 10px;
    background-color: #ccc;
    color: black;
    border-radius: 5px 0 0 5px;
}

.body_top_btn_sort_list_details .btn_sort_by_delivery_period {
    padding: 7px 10px;
    background-color: #ccc;
    color: black;
    border-left: 1px solid black;
    border-radius: 0 5px 5px 0;
}

.div_top_filter .show_filter_details {
    text-align: center;
    padding: 10px 0px 0px 0px;
    border-top: 1px solid #e4e4e4;
    cursor: pointer;
    color: #337ab7;
}

.body_filter_by_price .filter_price_range .price_begin {
    float: left;
}

.body_filter_by_price .filter_price_range .price_end {
    float: right;
}

.div_top_filter_list_details {
    float: left;
    width: 85%;
    padding-right: 10px;
}

.list_details .div_img_loader_search_detail {
    text-align: center;
}

.search_list_details .td_sort_list_details {
    border: none;
    padding: 0px;
}

.search_list_details .sort_list_details {
    float: right;
    display: flex;
}

.search_list_details .sort_list_details .title_sort_list_details {
    margin: 10px 5px 5px 0px;
    float: left;
}

.search_list_details .sort_list_details .dropdown {
    float: left;
}

.div_btn_select_details {
    float: left;
}

.div_btn_select_details_background_search_detail {
    margin-bottom: 20px;
}

.div_bottom_btn_select_details {
    margin-top: 20px;
}

.div_background_search_detail {
    float: left;
    padding-left: 20px;
    height: 34px;
}

.body_loader_background_search_detail {
    color: red;
    line-height: 34px;
}

.btn_show_all_offers {
    display: none;
}

.img_loader_background_search_detail {
    margin-left: 10px;
    width: 16px;
    height: 16px;
}

.popover_inf_brand_style {
    min-width: 250px !important;
    max-width: 600px !important;
}

.popover_type_warehouse_style {
    min-width: 250px !important;
    max-width: 300px !important;
}

.popover_list_provider_rating_style {
    min-width: 250px !important;
    max-width: 300px !important;
}

.search_list_details {
    font-size: 13px;
}

.search_list_details .row_offer {
    vertical-align: top;
}

.search_list_details .row_offer:hover {
    background-color: #F1EBEB;
}

.search_list_details .row_offer a {
    color: #000 !important;
    text-decoration: none;
}

.search_list_details .row_detail a {
    color: #000 !important;
    text-decoration: none;
}

.search_list_details .checkbox_offer {
    display: none;
}

.control_panel_search_detail .form_search_warehouse_type {
    float: left;
    height: 40px;
    margin-top: 15px;
}

.control_panel_list_details .list_provider_with_api {
    padding-left: 40px;
}

.control_panel_list_details .list_provider_with_api ul li {
    display: inline;
}

.control_panel_list_details .list_provider_with_api .provider_button {
    border-radius:5px;
    -moz-border-radius:10px;
    -khtml-border-radius:10px;
    -webkit-border-radius: 10px;
    border: 1px solid #DCDCDC;
    display: inline-block;
    padding: 5px 15px;
    text-decoration: none;
    background-image: url(../images/background_provider_btn.png);
    background-repeat: repeat-x;
    width: 120px;
    text-align: center;
    margin-bottom: 5px;
}
.control_panel_list_details .list_provider_with_api .provider_button:hover {
    box-shadow: 0 0 5px rgba(0,0,0,0.3);
    background: linear-gradient(to bottom, #fcfff4, #e9e9ce);
}

.control_panel_list_details .list_provider_with_api .exist_provider_in_list_details {
    color: #000;
}

.control_panel_list_details .list_provider_with_api .not_exist_provider_in_list_details {
    color: red;
}

.search_list_details .icon_exist {
    width: 24px;
    height: 24px;
}

.search_list_details .icon_google_search_img {
    width: 16px;
    height: 16px;
}

.search_list_details .a_exist {
    margin-right: 5px;
}

.search_list_details .title {
    padding: 0;
    border: none;
}

.search_list_details .show_more_names_detail {
    cursor: pointer;
    margin-top: 5px;
}

.search_list_details .show_detail_offers {
    border-bottom: 1px solid #e4e4e4;;
}

.search_list_details .show_list_offers {
    font-size: 15px;
    white-space:nowrap;
    color: blue;
    cursor: pointer;
    text-decoration: underline;
    float: right;
}

.search_list_details .hide_list_offers {
    display: none;
    font-size: 15px;
    white-space:nowrap;
    color: blue;
    cursor: pointer;
    text-decoration: underline;
    float: right;
}

.search_list_details .hide_offer {
    display: none;
}


.search_list_details .row_offer .hidden_offer_description {
    display: none;
}

.search_list_details .cell_article strong {
    display: block;
    overflow: hidden;
    max-width: 100px;
}

.search_list_details .div_cell_article {
    white-space:nowrap;
    display: flex;
}

.search_list_details .div_cell_brand {
    white-space:nowrap;
    display: flex;
}

.search_list_details .cell_brand strong {
    display: block;
    overflow: hidden;
    max-width: 115px;
}

.search_list_details .cell_article .icon_exist {
    margin-right: 3px;
}

.search_list_details .cell_article .icon_google_search_img {
    margin-right: 3px;
}

.search_list_details .cell_brand .icon_recommended_brand_ {
    margin-left: 3px;
}

.search_list_details .cell_brand .open_wind_edit_brand {
    margin-left: 3px;
}

.search_list_details .cell_brand .img_compatibility {
    margin-left: 3px;
}

.search_list_details .cell_opportunity_return {
    white-space:nowrap;
}

.search_list_details .cell_description {
    max-width: 300px;
    overflow: hidden;
}

.search_list_details  .img_compatibility,
.search_list_details  .img_warehouse_type {
    width: 16px;
    height: 16px;
    margin-left: 2px;
}

.search_list_details .selected_offer {
    background-color: #FFE4C4;
}

.provider_rating_api {
    color: #000;
}

.provider_rating_price {
    color: #E6E6FA;
}

.search_list_details .div_cell_provider {
    white-space:nowrap;
    display: flex;
}

.search_list_details .div_cell_provider img {
    margin-left: 5px;
}

.search_list_details .cell_provider .provider_name {
    display: block;
    overflow: hidden;
    max-width: 57px;
}

.search_list_details .img_alert_old_price {
    margin-left: 5px;
    width: 16px;
    height: 16px;
}

#form_list_details .cell_btn_add_in_shopping_card {
    padding: 10px 3px;
    width: 55px;
}

#form_list_details .btn_add_in_shopping_card {
    border: 1px solid #d9d9d9;
    background-color: #FA5353;
    color: #fff;
}

#form_list_details .loader_add_to_cart {
    display: none;
    width: 16px;
    height: 16px;
    margin-left: 2px;
}

#form_list_details .hide_count_items_in_cart {
    display: none;
}

#form_list_details .popover_error_add_in_card {
    background-color: #F08080;
    min-width: 250px !important;
}

#form_list_details .popover_error_add_in_card .arrow:after {
    border-bottom-color: #F08080;
}

.cart-btn .count_rows_details_cart {
    position: absolute;
    color: #fff;
    background-color: red;
    bottom: 0px;
    right: 0px;
    padding: 2px 3px;
    font-size: 13px;
}

.cart-btn .hide_counter {
    display: none;
}

/* Стили для страницы найденных деталей (КОНЕЦ) */

/* Стили для окна по объединению брендов (НАЧАЛО) */

#form_name_group_in_brands_list .form_error,
#form_name_group_for_list_details .form_error {
    display: none;
}

.modal_merge_brands_body {
    margin: 10px;
}

.modal_merge_brands_body .list_merge_brands {
    margin-bottom: 20px;
    padding-left: 40px;
}

#form_name_group_in_brands_list button,
#form_name_group_for_list_details button {
    margin: 15px 0px;
}

#form_name_group_in_brands_list .body_select_name_group_brand,
#form_name_group_for_list_details .body_select_name_group_brand {
    float: left;
    width: 50%;
}

#form_name_group_in_brands_list .select_name_group_brand,
#form_name_group_for_list_details .select_name_group_brand {
    padding-right: 15px;
}

#form_name_group_in_brands_list .select_name_group_brand div,
#form_name_group_for_list_details .select_name_group_brand div {
    white-space:nowrap;
    overflow: hidden;
}

#form_name_group_in_brands_list .select_name_group_brand input[type=radio],
#form_name_group_for_list_details .select_name_group_brand input[type=radio] {
    margin-right: 5px;
}

#form_name_group_in_brands_list .select_name_group_brand label,
#form_name_group_for_list_details .select_name_group_brand label {
    font-weight: normal !important;
}

#pop_up_merge_brands .body_select_brand_for_description,
#pop_up_merge_brands_for_list_details .body_select_brand_for_description {
    float: left;
    width: 50%;
}

#pop_up_merge_brands .select_brand_for_description div,
#pop_up_merge_brands_for_list_details .select_brand_for_description div {
    white-space:nowrap;
    overflow: hidden;
}

#pop_up_merge_brands .select_brand_for_description input[type=radio],
#pop_up_merge_brands_for_list_details .select_brand_for_description input[type=radio] {
    margin-right: 5px;
}

#pop_up_merge_brands .select_brand_for_description label,
#pop_up_merge_brands_for_list_details .select_brand_for_description label {
    font-weight: normal !important;
}

#pop_up_merge_brands .empty_description_brand,
#pop_up_merge_brands_for_list_details .empty_description_brand {
    color: blue;
}

#pop_up_merge_brands .selected_description_brand,
#pop_up_merge_brands_for_list_details .selected_description_brand {
    margin-top: 10px;
}

/* Стили для окна по объединению брендов (КОНЕЦ) */

.merge_brands_activated {
    font-size: 18px;
    color: #000080;
    height: 50px;
    line-height:50px;
    float: left;
    padding-left: 40px;
}

/* Стили для страницы, на которой происходит объединение брендов в списке найденных брендов (НАЧАЛО) */

.table_list_merge_brands {
    margin: 0 auto;
    margin-top: 15px;
}

.table_list_merge_brands td {
    font-size: 16px;
    padding: 5px 50px 5px 50px;
    color: black;
}

.table_list_merge_brands span {
    cursor: pointer;
}

#form_merge_brands_in_brands_list .checkbox_brand {
    display: none;
}

#form_merge_brands_in_brands_list .selected_brand {
    background-color: #eead63;
}

/* Стили для страницы, на которой происходит объединение брендов в списке найденных брендов (КОНЕЦ) */


/* Стили для страницы, на которой происходит объединение брендов в списке найденных деталей (НАЧАЛО) */

.control_panel_merge_brands_for_list_details {
    padding: 10px 30px;
    width: 100%;
}

.control_panel_merge_brands_for_list_details .body_control_panel_buttons {
    float: left;
}

.control_panel_merge_brands_for_list_details .control_panel_buttons li {
    display: inline;
    margin-right: 13px;
}

.control_panel_merge_brands_for_list_details .control_panel_buttons li img {
    width: 40px;
    height: 40px;
}

.div_list_merge_brands_for_list_details {
    margin: 25px 10px;
}

.table_details .brand_row {
    cursor: pointer;
}

#form_merge_brands_for_list_details .selected_brand {
    background-color: #FFE4C4;
}

#form_merge_brands_for_list_details .checkbox_brand {
    display: none;
}

/* Стили для страницы, на которой происходит объединение брендов в списке найденных деталей (КОНЕЦ) */

/* Стили для страницы с выбранными деталями (НАЧАЛО) */

#form_edit_brand .label_part {
    width: 140px;
}

#form_edit_brand .field_part {
    width: 350px;
}

#form_edit_brand textarea {
    width: 350px;
}

#form_edit_brand .form_field_body {
    margin-bottom: 10px;
    width: 490px;
}

#form_edit_brand option {
    padding: 3px;
}

.link_back {
    margin-top: 10px;
}

#form_selected_offers .td_article,
#form_selected_offers .td_brand,
#form_selected_offers .td_quantity {
    white-space:nowrap;
}

#form_selected_offers .delete_selected_offers {
    cursor: pointer;
}

#form_selected_offers .img_minus_blue,
#form_selected_offers .img_plus_blue {
    cursor: pointer;
}

.div_list_selected_offers {
    margin: 35px 10px 0px 10px;
}

/* Стили для страницы с выбранными деталями (КОНЕЦ) */

/* Стили для страницы с формой авторизации в проект (НАЧАЛО) */

body > .container_project_auth {
    padding: 0px 100px;
}

.container_project_auth .div_form_login_project {
    width: 100%;
}

.div_form_login_project #form_login_project {
    width: 250px;
    margin: auto;
    margin-top: 100px;
}

#form_login_project .form_error {
    margin: auto;
    width: 250px;
    margin-top: 5px;
    margin-bottom: 5px;
}

/* Стили для страницы с формой авторизации в проект (КОНЕЦ) */

/* Стили для страницы корзины (НАЧАЛО) */

.list_shopping_cart .control_counter {
    width: 85px;
}

.list_shopping_cart .inp_count_items {
    width: 40px;
    text-align: center;
    float: left;
}

.list_shopping_cart .img_minus_blue {
    float: left;
    width: 20px;
    height: 20px;
    cursor: pointer;
}

.list_shopping_cart .img_plus_blue {
    float: left;
    width: 20px;
    height: 20px;
    cursor: pointer;
}

.list_shopping_cart .td_provider_name a {
    color: black;
}

#form_shopping_cart .btn_clear_shopping_cart {
    margin-top: 20px;
}

#form_shopping_cart .btn_confirm_order {
    margin-top: 20px;
}

#form_shopping_cart .loader_confirm_order {
    display: none;
}

#form_shopping_cart .loader_confirm_order img {
    width: 32px;
    margin-top: 20px;
}

#form_shopping_cart .message_exist_end_order {
    float: right;
    color: red;
    margin-top: 20px;
}

.empty_shopping_cart {
    text-align: center;
}

#form_shopping_cart .btn_add_discount {
    margin-top: 20px;
    margin-right: 10px;
}

#form_shopping_cart .hide_discount_row {
    display: none;
}

#form_shopping_cart .td_total_sum,
#form_shopping_cart .td_profit_tag,
#form_shopping_cart .cell_item_price {
    white-space:nowrap;
}

.div_content_shopping_cart {
    margin: 35px 10px 0px 10px;
}

#form_shopping_cart .div_btn_shopping_cart {
    overflow: auto;
}

#form_shopping_cart .div_clear_shopping_cart {
    float: left;
}

#form_shopping_cart .div_confirm_order {
    float: right;
}

#form_shopping_cart .div_add_discount {
    float: right;
}

#form_shopping_cart .div_price_percent {
    float: right;
}

#form_shopping_cart .input_add_price_percent {
    margin-top: 20px;
    margin-right: 10px;
    float: left;
    width: 90px;
    height: 34px;
    text-align: center;
}

#form_shopping_cart .btn_add_price_percent {
    margin-top: 20px;
    margin-right: 10px;
    float: left;
}

#form_shopping_cart .img_is_changed {
    widows: 16px;
    height: 16px;
    cursor: pointer;
}

#form_shopping_cart .hide_img_is_changed {
    display: none;
}

#form_shopping_cart .price_value {
    cursor: pointer;
}

#form_shopping_cart .price_input {
    width: 90px;
    height: 30px;
    text-align: center;
    display: none;
}

#form_shopping_cart .img_price_change {
    width: 24px;
    height: 24px;
    display: none;
    cursor: pointer;
}

#form_shopping_cart .discount_value {
    cursor: pointer;
}

#form_shopping_cart .discount_input {
    width: 90px;
    height: 30px;
    text-align: center;
    display: none;
}

#form_shopping_cart .img_discount_change {
    width: 24px;
    height: 24px;
    display: none;
    cursor: pointer;
}

#form_shopping_cart .img_discount_delete {
    cursor: pointer;
}

#form_shopping_cart .inp_id_deal_amo {
    margin-bottom: 20px;
    width: 200px;
    float: left;
}

#form_shopping_cart .inp_delivery_date {
    margin-bottom: 20px;
    width: 250px;
    float: left;
    margin-left: 20px;
}

#form_shopping_cart .profit_bad {
    color: red;
}

#form_shopping_cart .profit_good {
    color: blue;
}

#form_shopping_cart .btn_add_new_detail {
    margin: 20px 0px 0px 20px;
}

#form_add_new_detail input[type="text"] {
    width: 300px;
}

#form_add_new_detail #name {
    width: 500px;
}

#form_add_new_detail #provider {
    width: 250px;
}

#form_add_new_detail #type_warehouse {
    width: 200px;
}

#form_add_new_detail #price_from_provider,
#form_add_new_detail #price,
#form_add_new_detail #count {
    width: 180px;
}

#form_add_new_detail .select_type_warehouse {
    display: none;
}

/* Стили для страницы корзины (КОНЕЦ) */

/* Стили для раздела "Заказы (Менеджер)" (НАЧАЛО) */

.div_list_orders_widget {
    margin: 35px 10px 0px 10px;
}

.list_orders_widget {
    margin-top: 20px;
}

.list_orders_widget .discount_value,
.list_orders_widget .percent_value,
.list_orders_widget .delivery_value {
    cursor: pointer;
}

.list_orders_widget .discount_input,
.list_orders_widget .percent_input,
.list_orders_widget .delivery_input {
    text-align: center;
    display: none;
}

.list_orders_widget .discount_input,
.list_orders_widget .percent_input {
    width: 90px;
    height: 30px;
}

.list_orders_widget .delivery_input {
    width: 110px;
    height: 30px;
}

.list_orders_widget .img_discount_change,
.list_orders_widget .img_percent_change,
.list_orders_widget .img_delivery_change {
    width: 20px;
    height: 20px;
    display: none;
    cursor: pointer;
}

.list_orders_widget .amo_logo {
    width: 70px;
    height: 13px;
}


.list_orders_widget .img_is_changed {
    width: 16px;
    height: 16px;
    cursor: pointer;
}

.list_orders_widget .hide_img_is_changed {
    display: none;
}

.list_orders_widget .profit_bad {
    color: red;
}

.list_orders_widget .profit_good {
    color: blue;
}

.div_list_details_in_order_widget {
    margin-top: 35px;
}

.list_details_in_order_widget .hide_detail_is_ordered {
    display: none;
}

.list_details_in_order_widget .cell_control {
    width: 110px;
}

.form_search_detail_widget {
    margin-bottom: 20px;
}

.list_details_in_order_widget .vendor_code_value,
.list_details_in_order_widget .brand_value,
.list_details_in_order_widget .name_value,
.list_details_in_order_widget .provider_value,
.list_details_in_order_widget .request_price_value,
.list_details_in_order_widget .retail_price_value,
.list_details_in_order_widget .quantity_value {
    cursor: pointer;
}

.list_details_in_order_widget .vendor_code_input,
.list_details_in_order_widget .brand_input,
.list_details_in_order_widget .name_input,
.list_details_in_order_widget .provider_input,
.list_details_in_order_widget .request_price_input,
.list_details_in_order_widget .retail_price_input,
.list_details_in_order_widget .quantity_input {
    text-align: center;
    display: none;
}

.list_details_in_order_widget .vendor_code_input,
.list_details_in_order_widget .request_price_input,
.list_details_in_order_widget .retail_price_input,
.list_details_in_order_widget .retail_price_input {
    width: 90px;
    height: 30px;
}

.list_details_in_order_widget .brand_input,
.list_details_in_order_widget .provider_input {
    width: 120px;
    height: 30px;
}

.list_details_in_order_widget .name_input {
    width: 550px;
    height: 30px;
}

.list_details_in_order_widget .img_vendor_code_change,
.list_details_in_order_widget .img_brand_change,
.list_details_in_order_widget .img_name_change,
.list_details_in_order_widget .img_provider_change,
.list_details_in_order_widget .img_request_price_change,
.list_details_in_order_widget .img_retail_price_change,
.list_details_in_order_widget .img_quantity_change {
    width: 20px;
    height: 20px;
    display: none;
    cursor: pointer;
}

.list_details_in_order_widget .link_site_provider {
    width: 16px;
}

.list_details_in_order_widget .cell_vendor_code,
.list_details_in_order_widget .cell_brand,
.list_details_in_order_widget .cell_provider,
.list_details_in_order_widget .cell_request_price,
.list_details_in_order_widget .cell_retail_price,
.list_details_in_order_widget .cell_quantity {
    white-space:nowrap;
}

.list_details_in_order_widget .img_is_changed {
    width: 16px;
    height: 16px;
    cursor: pointer;
}

.list_details_in_order_widget .hide_img_is_changed {
    display: none;
}

.form_search_order input {
    width: 200px;
}

.form_search_detail_widget input {
    width: 200px;
}

.list_details_in_order_widget .need_calculate_retail_price {
    cursor: pointer;
}

.list_details_in_order_widget .hide_need_calculate_retail_price {
    display: none;
}

/* Стили для раздела "Заказы (Менеджер)" (КОНЕЦ) */